svg path {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
}

.svg1:hover path {
  d: path('M8,2 L2,8');
}

.svg11 {
  animation: cross-1 0.3s forwards;
}
.svg12 {
  animation: cross-2 0.3s forwards;
  animation-delay: 0.4s;
}

@keyframes cross-1 {
  from {
    d: path('M2,2 L2,2');
  }
  to {
    d: path('M2,2 L8,8');
  }
}

@keyframes cross-2 {
  from {
    d: path('M8,2 L8,2');
  }
  to {
    d: path('M8,2 L2,8');
  }
}
