.payer-wrapper {
}

.payer-info {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.payer-info img {
  width: 2rem;
}

.payer-info__title {
  font-size: 1.25rem;
}

.payer-info__sign {
}

.payer-info__win {
  color: salmon;
  font-size: 1.5rem;
}

.player-active {
  color: salmon;
}
