.wrapper {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.info img {
  width: 2rem;
}

.info__title {
  font-size: 1.25rem;
}

.info__sign {
}

.info__win {
  color: var(--color-accent);
  font-size: 1.5rem;
  animation: win-text 0.5s ease-in alternate infinite;
  transform: scale(1);
}

.active {
  text-decoration-style: wavy;
  text-decoration-color: var(--color-dark);
  text-decoration-line: underline;
}

.winner {
  background-color: salmon;
}

@keyframes win-text {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
