.payer-wrapper {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.payer-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.payer-info img {
  width: 2rem;
}

.payer-info__title {
  font-size: 1.25rem;
}

.payer-info__sign {
}

.payer-info__win {
  color: white;
  font-size: 1.5rem;
  animation: win-text 0.5s ease-in alternate infinite;
  transform: scale(1);
}

.player-active {
  color: salmon;
}

.winner {
  background-color: salmon;
}

@keyframes win-text {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
