.heading {
  margin-bottom: 1rem;
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-decoration: none;
}

.heading img {
  width: 20px;
}

.heading h1 {
  font-size: 1.5rem;
  text-decoration: none;
}

.playersinfo {
  height: 170px;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.message {
  min-height: 30px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-accent);
}

.message__title {
  text-shadow: 1px 1px black;
}

.message__result {
  margin-left: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  transform: scale(1);
  animation: win-text 0.5s ease-in infinite alternate;
}
