.app {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aquamarine;

  position: relative;
}

.app__heading {
  /* margin-bottom: 3rem; */
}

.app__message {
  text-align: center;
}

.app__message span {
  display: block;
  color: salmon;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.controls__btn {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;

  border-radius: 0.5rem;
  border: 2px solid transparent;
  background: var(--color-gray);
  transition: all 0.2s;
}

.controls__btn:hover {
  cursor: pointer;
  border: 2px solid salmon;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
