.app {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  position: relative;
}

.app__heading {
  margin-bottom: 1rem;
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-decoration: none;
}

.app__heading img {
  width: 20px;
}

.app__heading h1 {
  font-size: 1.5rem;
  text-decoration: none;
}
.players-info {
  height: 170px;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.app__message {
  min-height: 30px;
  text-align: center;
  font-size: 1rem;
  color: var(--color-accent);
}

.app__message_title {
}

.app__message_result {
  margin-left: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  transform: scale(1);
  animation: win-text 0.5s ease-in infinite alternate;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.controls__btn {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;

  border-radius: 0.5rem;
  border: 2px solid transparent;
  background: var(--color-gray);
  transition: all 0.2s;
}

.controls__btn:hover {
  cursor: pointer;
  border: 2px solid salmon;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
