html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-gray: #f6f1f1;
  --color-gray-1: #bacddb;
  --color-dark: #454545;
  /* --color-accent: #f55050; */
  --color-accent: #ade792;
}
