.app {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  position: relative;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
